.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.MenuBar {
  font-size: 25px;
  font-style: italic;
  align-items: center;
  text-align: center;
  padding-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
}

.Content {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
}

.App> :nth-child(2) {
  background-color: #afc9f6;
}

.Main {}

.profile img {
  border-radius: 15%;
  border: 2px solid navy;
}

.Skill {}

.Portfolio {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
}

.Portfolio-content {
  background-color: antiquewhite;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.Portfolio-info {
  background-color: aliceblue;
}

.Contact-content {
  background-color: aquamarine;
  padding: 20px;
}

.contact-me {
  background-color: #afc9f6;
}